@import 'tailwindcss';
*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
#explore{
    background-color: rgba(42, 65, 232, 0.07);

}
#main_nav{
    margin: auto;

}
#side_nav{

    li{
        display: flex;
        padding-left: 15px;
        margin: auto;
    }
    li:hover{
        background-color: rgba(42, 65, 232, 0.07);

    }
}
.active span{
    color: #2a41e8;
}
#slider{
    aside{
        overflow: hidden;
        
        img{
            height: 450px;
            width: 1726px;
            transition: all 0.8s ease-in-out;
            
        }
        div{
            position: absolute;
            left: 10vw;
            bottom: -30vh;
            transition: all 0.8s ease-in-out;
            h1{
                font-size: 2.5rem;
                line-height: 2.5rem;
            }
            p{
                padding-top: 20px;
                font-size: large;
            }
            a{
                
                border-radius: 15px;
            }
        }
        
        input:checked+section{
            img{
                opacity: 1;
            }
            div{
                opacity: 1;
                transform: translateY(-30vh);
            }
            
        }
        input:not(:checked)+section{
            img{
                transform: scale(1.5);
                opacity: 0;
            }
            div{
                
                transform: scale(1.5);
                transform: translateZ(20deg);
                opacity: 0;
            }
            
        }

        
        
    }
}

#featured_classes,#popular_classes,#latest_episodes{
    section{
        margin: auto;
    }
}
.icon_sec:hover{
    span{
        color: blue;
    }
}


.featuredslide1{
    left: 0;
    
}
.featuredslide2{
    left: 0;
   
}
.featuredslide1+div{
    transform:translateX(70vw)
    
}
.featuredslide2+div{
    transform:translateX(-70vw)
    
}

.popularslide1{
    left: 0;
    
}
.popularslide2{
    left: 0;
   
}
.popularslide1+div{
    transform:translateX(20vw)
    
}
.popularslide2+div{
    transform:translateX(-20vw)
    
}
.image:hover{
    span{
        display: block;
    }
}
.active{
    background-color: rgba(42, 65, 232, 0.07);
}